LocalPlayer
QLauncher
alsa-config
audioservice
buildroot
camera
camera_engine_cifisp
camera_engine_rkisp
distro
dl
docs
ffmpeg
gallery
gcc-linaro-6.3.1-2017.05-x86_64_aarch64-linux-gnu
gcc-linaro-6.3.1-2017.05-x86_64_arm-linux-gnueabihf
gstreamer-camera
gstreamer-rockchip
kernel
libdrm-rockchip
libmali
linux-rga
minigui
mpp
mpv
music
powermanager
recovery
rk-rootfs-build
rk_pcba_test
bin
rk_tee_user
rkbin
rknpu
rkssd
rkupdate
rkwifibt
rockchip
settings
softapDemo
softapServer
wifiAutoSetup
tensorflow
tools
u-boot
video
